body {
    margin: 0;
    padding: 0;
}

#player {
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    z-index: 1;
}

.fast {
    width: 10px;
    height: 10px;
    background: rgb(123, 123, 123);
    position: absolute;
    border-bottom: 10px;
}