@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Fredoka+One&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}

.titleCOntent {
    display: flex;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
    border-top: 0px black solid;
    border-bottom: 0px black solid;
    transition: 2s all;
    z-index: -10;
}

.titleCOntent:hover {
    border-top: 60px black solid;
    border-bottom: 60px black solid;
}

#play {
    padding: none;
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    display: block;
    position: absolute;
    margin-bottom: -130px;
    transition: .1s all;
    font-family: 'Fredoka One', cursive;

}

#play:hover {
    scale: .9;
    color: rgb(50, 50, 50);
}

#play:active {
    scale: 1;
    color: black;
}

#title {
    font-size: 50px;
}



.credits {
    padding: 20px;
    z-index: 10;
    position: absolute;
}

.credits a {
    color: white;
    text-decoration: none;
}