@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Source+Sans+Pro&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    padding: 20px;
}

#barsMenu {
    width: 50px;
    cursor: pointer;
}

#menu {
    background-color: black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    transition: 1s all;
}

#menu a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    display: inline-block;
    padding: 20px 30px;
    cursor: pointer;
}

#searchContent {
    display: inline-block;
    padding: 3px 20px;
    background-color: white;
    border-radius: 1000px;
    position: absolute;
    right: 30px;
    top: 25px;
    border: 1px rgb(167, 167, 167) solid;
}

#searchContent input {
    padding: 10px;
    border: none;
    font-size: 15px;
}

#searchContent input:focus {
    outline: none;
}

#searchContent img {
    width: 15px;
    margin-left: 15px
}

#title {
    font-size: 20px;
    padding: 0px 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

#contentComments {
    margin-top: 10px;
}

.commentsCont {
    border: 1px grey solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.commentNew {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 100px;
    border-top-left-radius: 20px;
    display: inline-block;
    font-size: 15px;
    margin: 5px 0px 0px 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

#send {
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 5px;
    background: white;
    border: none;
}

#send:active {
    scale: .9;
    transition: .5s all;
}

#comment {
    width: 100%;
    padding: 5px 10px;
    border: none;
}

#comment:focus {
    outline: none;
}

#content {
   margin: 30px;
   position: fixed;
   background-color: white;
   border-radius: 500px;
   bottom: -1000px;
   width: 95%;
   transition: 1s all;
}

.icon {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.name {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.topComment {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.commentsShow {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: inline-block;
    
}

.commentsShow img {
    width: 50px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    transition: 1s all;
}

#showCommentsTwo {
    display: none;
    transition: 1s all;
}

#contentComments {
    margin: 30px;
    border-left: 1px grey solid;
    padding: 5px 20px;
    font-family: 'Source Sans Pro', sans-serif;

}